.hero-section {
  position: relative;
  height: 100vh;
  width: 98.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
}
 
.hero-content {
  position: absolute;
  z-index: 10;
  top: 300px;
  text-align: center;
  pointer-events: none;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0e3946;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #0e3946;
}


