#Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 3%;
    left: 5%;
    width: 1200px;
    /* background-color: rgb(245, 234, 215); */
    background-color: #d3f2f3;
    height: 50px;
    padding: 0px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(100, 100, 100);
    z-index: 100;
}
.Nav-mid ul li a{
    text-decoration: none;
    color: rgb(65, 65, 65);
}
.Nav-left{
    display: flex;
    align-items: center;
}

.LOGO img{
    width: 40px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.Sense-Name{
    font-weight: 500;
    font-size: 20px;
}

.Nav-mid ul{
    display: flex;
    list-style: none;
}

.Nav-mid ul li{
    padding: 6px 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    color: rgb(65, 65, 65);
}

.Nav-mid ul li:hover{
    background-color: #1dbbc3;
    border-radius: 15px;
}

.Join-us{
    font-weight: 600;
    font-size: 14px;
    color: rgb(65, 65, 65);
    border: 2px solid #1dbbc3;
    background-color: #1dbbc3;
    padding: 6px 25px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}
.Join-us a{
    text-decoration: none;
    color:rgb(65, 65, 65);
}

.Join-us:hover{
    background-color: #d3f2f3;
}